# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env

# Archivos de VS Code
.vscode/

# Archivos de JetBrains (PyCharm)
.idea/

# Logs
*.log

# ==========================================
# React / Node.js / Vite
# ==========================================

# Dependencias (LA MÁS IMPORTANTE - miles de archivos pesados)
node_modules/

# Carpeta de producción / compilación
dist/
build/

# Archivos y carpetas de variables de entorno locales
.env.local
.env.development.local
.env.test.local
.env.production.local

# Caché de empaquetadores y herramientas de formateo
.vite/
.eslintcache

# Archivos basura del sistema operativo
.DS_Store
Thumbs.db