.matricula-layout{

display:grid;

grid-template-columns:350px 1fr;

gap:25px;

}



.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 4px 12px rgba(0,0,0,.08);

}



.card h2{

color:#16a34a;

margin-bottom:20px;

}




.matricula-form-card select,
.matricula-form-card input{


width:100%;

padding:12px;

margin-bottom:15px;

border-radius:8px;

border:1px solid #ddd;


}





.btn-verde{

width:100%;

background:#16a34a;

color:white;

font-weight:bold;

padding:12px;

border:none;

border-radius:8px;

cursor:pointer;

}





.filtros{

display:flex;

gap:15px;

margin-bottom:20px;

}


.filtros input,
.filtros select{

padding:10px;

border-radius:8px;

border:1px solid #ddd;

}





table{

width:100%;

border-collapse:collapse;

}



th{

background:#f3f4f6;

padding:12px;

text-align:left;

}



td{

padding:12px;

border-bottom:1px solid #eee;

}




.badge{

background:#dcfce7;

color:#15803d;

padding:5px 12px;

border-radius:20px;

font-size:14px;

}