/* =========================
   MODAL OVERLAY
========================= */

.modal-overlay {

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(15,23,42,0.55);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:1000;

}



/* CONTENIDO MODAL */

.modal-contenido {

    background:white;

    width:420px;

    max-width:90%;

    padding:25px;

    border-radius:12px;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);

    animation:aparecer .25s ease;

}



/* ANIMACIÓN */

@keyframes aparecer {

    from{

        opacity:0;

        transform:translateY(-20px);

    }


    to{

        opacity:1;

        transform:translateY(0);

    }

}



/* BOTÓN CERRAR */

.modal-cerrar {

    position:absolute;

    margin-left:360px;

    margin-top:-15px;

    background:#ef4444;

    color:white;

    border:none;

    width:30px;

    height:30px;

    border-radius:50%;

    cursor:pointer;

    font-size:15px;

}