.modal-overlay{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:1000;

}



.modal-contenido{

    background:white;

    width:450px;

    padding:25px;

    border-radius:15px;

    position:relative;

    box-shadow:0 10px 30px rgba(0,0,0,.3);

}



.modal-cerrar{

    position:absolute;

    right:15px;

    top:10px;

    border:none;

    background:none;

    font-size:20px;

    cursor:pointer;

}