h1{

color:#1e293b;

font-size:24px;

margin-bottom:20px;

}



.btn-nuevo{

background:#2563eb;

color:white;

border:none;

padding:9px 14px;

border-radius:6px;

cursor:pointer;

margin-bottom:20px;

}



table{

width:100%;

border-collapse:collapse;

background:white;

}



th{

padding:8px 10px;

background:#f8fafc;

font-size:13px;

text-align:left;

border-bottom:1px solid #e5e7eb;

}



td{

padding:7px 10px;

font-size:13px;

color:#475569;

border-bottom:1px solid #e5e7eb;

}



tbody tr:hover{

background:#f8fafc;

}



.acciones-tabla{

display:flex;

gap:5px;

}



.btn-edit{

width:27px;

height:27px;

border:none;

border-radius:5px;

background:#facc15;

cursor:pointer;

}



.btn-edit:hover{

transform:scale(1.1);

}